<header class="header_nav">
    <div class="div_header logo_area">
        <a class="logo_area" href="/">
            <img src="img/COMPREI NO LEILAO_7.svg" class="logo" alt="">
        </a>
    </div>
        
    <div class="div_header sideBarButton">
        <button class="sideBarButton" onclick="toggleSideBar()">
            <div class="button_stripe"></div>
            <div class="button_stripe"></div>
            <div class="button_stripe"></div>
        </button>
    </div>
</header>