<aside class="side_bar_nav">
    <div class="side_bar_items">
        <div>
            <button type="button" class="close" onclick="toggleSideBar()">
                x
            </button>
        </div>
        <a href="#" class="side_bar_item">
            <img src="img/DESTAQUES-COMPREI-NO-LEILAO-06-VERDE.png" class="side_bar_icon">
            <span>FALE CONOSCO</span>
        </a>
        <a href="#" class="side_bar_item">
            <img src="img/DESTAQUES-COMPREI-NO-LEILAO-04-VERDE.png" alt=""class="side_bar_icon">
            <span>DÚVIDAS FREQUENTES</span>
        </a>
        <a href="#" class="side_bar_item">
            <img src="" alt="" class="side_bar_icon">
            <span></span>
        </a>
        <a href="#" class="side_bar_item">
            <img src="" alt="" class="side_bar_icon">
            <span></span>
        </a>
        <a href="#" class="side_bar_item">
            <img src="" alt="" class="side_bar_icon">
            <span></span>
        </a>
        <a href="#" class="side_bar_item">
            <img src="" alt="" class="side_bar_icon">
            <span></span>
        </a>
    </div>
</aside>
