<aside class="side_bar_nav">
    <button class="close"></button>
    <a href="" class="side_bar_item"></a>
    <a href="" class="side_bar_item"></a>
    <a href="" class="side_bar_item"></a>
    <a href="" class="side_bar_item"></a>
    <a href="" class="side_bar_item"></a>
    <a href="" class="side_bar_item"></a>
</aside>