<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Comprei Leilão</title>
</head>
<body class="test">
    <%- include("partials/header.ejs");%>
    <%- include("partials/side_bar.ejs"); %>
    <div class="triangle_1_green"></div>
    <section class="offers_zone">
        <div class="offers_text">
            <p style="color: #E6E6E6; font-size: medium;font-weight: 700;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi sit porro sequi eveniet voluptas voluptate enim, doloribus in perferendis praesentium odit amet corporis ea nesciunt dolor distinctio unde. Ipsa, vitae.</p>
        </div>
        <br><br><br>
        <div class="offers_show_boxes">
            <h1>Avaliados por nós</h1>
            <br><br>
            <div class="offers_boxes_area">
                <a href="/" target="_self" class="offer">
                    <div class="offer_img" style="margin: auto;display: grid; ">
                        <img src="img/DESTAQUES-COMPREI-NO-LEILAO-01.png" alt="offer img">
                    </div>
                
                    <div class="offer_title">
                        <span class="price">De</span>
                        <span class="price old">
                            R$730.000,00
                        </span>
                        <h2 class="price now">
                            Por R$575.000,00
                        </h2>
                    </div>
                    <div class="offer_brev_desc">
                        <h4>155m² Bairro Esmeralda, Marília-SP</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat amet beatae velit nobis voluptatibus obcaecati maxime temporibus molestiae reprehenderit esse. Nemo blanditiis itaque a sunt odio tenetur nisi numquam quia?
                        </p>
                    </div> 
                </a>  
                <a href="/" target="_self" class="offer">
                    <div class="offer_img" style="margin: auto;display: grid; ">
                        <img src="img/DESTAQUES-COMPREI-NO-LEILAO-01.png" alt="offer img">
                    </div>
                
                    <div class="offer_title">
                        <span class="price">De</span>
                        <span class="price old">
                            R$730.000,00
                        </span>
                        <h2 class="price now">
                            Por R$575.000,00
                        </h2>
                    </div>
                    <div class="offer_brev_desc">
                        <h4>155m² Bairro Esmeralda, Marília-SP</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat amet beatae velit nobis voluptatibus obcaecati maxime temporibus molestiae reprehenderit esse. Nemo blanditiis itaque a sunt odio tenetur nisi numquam quia?
                        </p>
                    </div> 
                </a>
                <a href="/" target="_self" class="offer">
                    <div class="offer_img" style="margin: auto;display: grid; ">
                        <img src="img/DESTAQUES-COMPREI-NO-LEILAO-01.png" alt="offer img">
                    </div>
                
                    <div class="offer_title">
                        <span class="price">De</span>
                        <span class="price old">
                            R$730.000,00
                        </span>
                        <h2 class="price now">
                            Por R$575.000,00
                        </h2>
                    </div>
                    <div class="offer_brev_desc">
                        <h4>155m² Bairro Esmeralda, Marília-SP</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat amet beatae velit nobis voluptatibus obcaecati maxime temporibus molestiae reprehenderit esse. Nemo blanditiis itaque a sunt odio tenetur nisi numquam quia?
                        </p>
                    </div> 
                </a>
                <a href="/" target="_self" class="offer">
                    <div class="offer_img" style="margin: auto;display: grid; ">
                        <img src="img/DESTAQUES-COMPREI-NO-LEILAO-01.png" alt="offer img">
                    </div>
                
                    <div class="offer_title">
                        <span class="price">De</span>
                        <span class="price old">
                            R$730.000,00
                        </span>
                        <h2 class="price now">
                            Por R$575.000,00
                        </h2>
                    </div>
                    <div class="offer_brev_desc">
                        <h4>155m² Bairro Esmeralda, Marília-SP</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat amet beatae velit nobis voluptatibus obcaecati maxime temporibus molestiae reprehenderit esse. Nemo blanditiis itaque a sunt odio tenetur nisi numquam quia?
                        </p>
                    </div> 
                </a>
                <a href="/" target="_self" class="offer">
                    <div class="offer_img" style="margin: auto;display: grid; ">
                        <img src="img/Captura de tela 2023-07-07 115259.png" alt="offer img">
                    </div>
                
                    <div class="offer_title">
                        <span class="price">De</span>
                        <span class="price old">
                            R$730.000,00
                        </span>
                        <h2 class="price now">
                            Por R$575.000,00
                        </h2>
                    </div>
                    <div class="offer_brev_desc">
                        <h4>155m² Bairro Esmeralda, Marília-SP</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat amet beatae velit nobis voluptatibus obcaecati maxime temporibus molestiae reprehenderit esse. Nemo blanditiis itaque a sunt odio tenetur nisi numquam quia?
                        </p>
                    </div> 
                </a>
            </div>
        </div>
    </section>
</body>
<script src="js/partials/sidebar.js"></script>
</html>