/* Importing separeted css files, for organization purposes */

@import url(./partials/sidebar.css);
@import url(./partials/offers.css);
@import url(./partials/header.css);
@import url(./partials/decoration.css);

/* Import fonts from url */


@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap');


/* Setting global configs */

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Barlow', sans-serif;
}

html,
body{
    background-color:#E6E6E6;
}

h1{
    text-align: center;
}

button{
    background: none;
    border: none;
}


/* Setting general css configurations for mobile */
@media screen and (max-width : 450px) {

    html,
    body{
        display: grid;
    }

    html::-webkit-scrollbar{
        display: none;
    }

    h1{
        font-size: 40px;
        font-weight: 500;
    }
}
